@import 'main.less';
@import 'variables';

html {
  background: @gray;
}
.content {
  boder: 1px solid;
  padding: 50px;
  background: @white;
  margin-top: 150px;
}
.content header img {
  border-radius: 50%;
  margin-top: -120px;
}
.content header {
  text-align: center;
}
.content section h2,
article h2 {
  color: #ea7366;
  margin-top: 10px;
}
.content section {
  height: 40px;
}
.content article section {
  background: @gray;
  height: 25px;
  padding: 20px;
  margin-bottom: 10px;
}
.content article aside {
  float: left;
  height: 300px;
  width: 75px;
}
.content article aside h3 {
  height: 75px;
  background: @white;
}
